<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitcoinConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D4F0B4D210A017900632AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D4F0B61210A017B00632AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D4F0B6C210A017B00632AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
